# User Testing Report

User testing was conducted by Lianne on October 22 between the times of 8am and 11am with the following participants:

- Stephanie Csanky
- Sabrina Ng
- Laura Harvey
- Robert Freeman

## Tasks

1. Read the introduction on the homepage;
2. Try going to the Bats page;
3. Go to the Felines page

---

## Individual Results & Observations

### Stephanie

- Had no troubles getting tasks done;
- Tried out the responsiveness of the page;


### Sabrina

- Had no troubles getting tasks done


### Laura

- Got tasks done;
- Moved mouse over nav dropdown too quickly, so nav collapsed

### Robert

- Got through tasks
- Had difficulty finding the subnav options (for Bats)



---

## Trends

### Critical, Needs Fixing, Unable to Complete

- All tasks were able to be completed.

### Serious, Causes Frustration, May Hinder Completion

- Two participants had some sort of difficulty using the nav: Laura's fast movements can't really be helped by the nav; and perhaps Robert's issue was because he knew he was being tested and didn't want to do anything wrong—nobody else had troubles finding the second drop-down.

### Minor, Annoying, Won’t Hinder Completion

- At smaller screen sizes, the nav needs to collapse to avoid looking awkward.