@-moz-viewport { width:device-width; scale:1; }
@-ms-viewport { width:device-width; scale:1; }
@-o-viewport { width:device-width; scale:1; }
@-webkit-viewport { width:device-width; scale:1; }
@viewport { width:device-width; scale:1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html{
	background-color:#FFF5BD;
}

/*Small screen navigation menu dropdown*/
 #menu-icon {
	display: inline-block;
	float:left;
	height: 33px;
	width:40px;
	background:url(../img/menu-icon.jpg);
	margin-right:1em;
}

nav ul,
nav:active ul { 
	display: none;
}

nav li {
	width: 100%;
	padding: .5em 0 .5em 2em;
	margin: 0;
	position: relative;
}

nav:hover > ul{
	display:block;
}

nav{
	text-align:left;
	font-size:1.3em;
}

nav ul ul {
	display: none;
}
/*
nav ul li li{
	display:none;
}*/

nav ul li:hover > ul{
	display:block;
}

nav ul {
	background: #F4B54D;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 5px;  
	list-style: none;
	position: relative;
	padding-left:0;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li:hover {
	background: #F9D179;
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block; 
	color: #F9D179; 
	text-decoration: none;
}

nav ul ul {
	background: #F4B54D; 
	border-radius: 10px; 
	padding: 0;
	position: absolute; 
	top: 100%;
	z-index: 1000;
}
	
nav ul ul li {
	float: none; 
	border-top: 1px solid #66492c;
	position: relative;
}

nav ul ul li a {
	padding: 15px 10px;
	color: #fff;
}	

nav ul ul li a:hover {
	background: #F9D179;
}

nav ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
}
/*End of small screen navigation menu dropdown*/


/*.skiplinks tab styling for keyboard users*/
.skiplinks{
	margin:0;
	padding:0;
	list-style-type:none;
	position:absolute;
	width:100%;
	font-size:1.25rem;
	font-weight:bold;
	z-index:3000;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited{
	padding:0.5em .75em;
	position:absolute;
	top:-10em;
	background-color:#66492C;
	color:#fff;
	text-decoration:none;
}

.skiplinks a:focus{
	top:0;
}

.top{
	text-align:center;
	padding-top:3em;
}

a,
a:link,
a:visited{
	outline:none;
}

a:hover,
a:active{
	outline:none;
}

a:focus{
	outline:2px solid #66492C;
}
/*END of .skiplinks tab styling*/


h1{
	font-size:2em;
	font-family:"ITC Stone Sans",helvetica,sans-serif;
	color:#66492C;
}

h3, h2{
	font-family:"ITC Stone Sans",helvetica,sans-serif;
	color:#66492C;
}



.searchbar {
	font-family:"ITC Stone Sans",helvetica,sans-serif;
	color:#66492C;
	width:200px;
}
/*Note to self: floating the searchbar right makes it go into article by default and messes up margins & padding. Putting a clearfix on the nav hides the dropdown.*/


article{
	padding:0 .5em 0 .5em;
	margin:0;
	overflow:hidden;
}

p, li{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1em;
	color:#66492C;
}

.intro{
	width:100%;
	font-size:1.2em;
}

.flex-img{
	display:block;
	width:100%;
}

/*Bucket styling for homepage*/
.bucket{
	width:100%;
	margin:5% 0 0 0;
	float:left;
	max-height:600px;
}

.unit-spacer{
	padding:.3em;
	margin:0 2%;
	background-color:#A6C672;
}

.unit-spacer h2:hover{
	color:#FFF5BD;
}

.bucket-caption{
	display:none;
	
	font-size:1em;
	margin:0;
	color:#66492C;
}

.bucket h2{
	margin:0;
}


/*Grid styling for small units:*/
.unit-s-1{
	width:100%;
}

.unit-s-1-3{
	width:33.333%;
}

.unit-s-2-3{
	width:66.6667%;
}
/*End of grid styling for small units*/


/*Styling for content in animal pages*/
.photo{
	display:inline-table;
	max-width:500px;
}

.photo-spacer{
	margin:1em 0 0 0;
}

.photo-list{
	width:100%;
	height:100%;
}

.caption{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#66492E;
	background-color:#A6C672;
	margin:0;
	padding:.5em;
	height:60px;
	font-size:1.5em;
}

.caption:hover{
	cursor:pointer;
	color:#FFF5BD;
}

.info{
	display:none;
	list-style-type:none;
	margin:0;
	padding:2em 3em;
	background-color:#A6C672;
}

ul{
	list-style-type:none;
	margin:0;
}

details{
	background-color:#A6C672;
}

dt{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#66492C;
	font-size:1.1em;
	padding-top:.5em;
	font-weight:bold;
}

dl{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#66492C;
	font-size:1.1em;
	padding:0 2em 2em 2em;
}
/*End of styling for the show/hide information for animal profiles.*/

/*Styling for volunteer page info and photos*/
.volunteer-photo{
	max-width:400px;
	float:left;
	padding-bottom:1em;
}

.opportunity-box{
	background-color:#F9D179;
	padding:1em .5em 1em .5em;
	border-bottom:medium solid #66492C;
	overflow:hidden;
}

.details{
	display:block;
	font-size:1.2em;
	line-height: 1.3em;
}

dl{
	padding:.8em;
}

dd{
	margin:0;
}

table{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#66492C;
}

tr{
	display:none;
	font-size:.8em;
}


a:link {
	text-decoration:none;
	color:#66492C;
}
a:visited {
	text-decoration:none;
	color:#66492C;
}
a:hover {
	text-decoration:none;
}
a:active {
	text-decoration:none;
}

.button{
	cursor:pointer;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
	color:#66492C;
	padding:.5em;
	font-size:1.34em;
	background-color:#EA9900;
	border-radius:20px;
	width:inherit;
	max-width:230px;
	margin-top:1em;
}

.button:hover{
	background-color:#F4B45D;
}
/*End of styling for the Eco-volunteering info and photos*/


/*Recent Discoveries page styling*/
.discovery-photo{
	float:left;
	width:90%;
	padding:0 0 1em 0;
}

.hook{
	font-size:.9em;
	font-weight:bold;
}

.credit{
	font-size:.8em;
	padding-top:0;
}

/*Mammals photo-grid styling*/

.photo-grid{
	width:100%;
}

.grid-box{
	width:100%;
}

.photo-grid-name{
	margin:-1.5em 0 1em 1em;
	background-color:#a6c672;
	
}


@media only screen and (min-width: 20em){
table{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#66492C;
	max-width:500px;
}

tr{
	display: table-row;
	background-color:#FFF5BD;
	font-size:.8em;
}

td{
	padding-left:5px;
}

.article{
	margin-right:2em;
}


}

@media only screen and (min-width: 23em){

tbody{
	display: table-row-group;
	vertical-align: middle;
}

th{
	padding-right: 13px;
	padding-left:13px;
	min-width: 160px;
	text-align:left;
}

td{
	padding: 0 13px 0 13px;
}


dl{
	padding:1em;
}

.searchbar{
	margin-left:50%;
}

.hook{
	font-size:1.1em;
}

.credit{
	font-size:.9em;
}

}


@media only screen and (min-width: 37em){

.unit-m-1{
	width:100%;
}

.unit-m-1-3{
	width:33.333%;
}

.unit-m-2-3{
	width:66.6667%;
}
	
article{
	padding:0 2em 0 2em;
}

p{
	font-size:1.1em;
}

.photo{
	margin-left:2em;
}


.bucket{
	width:75%;
}

tr{
	font-size:1em;
}

dl{
	padding:2em;
}

.searchbar{
	margin-left:65%;
}

}

@media only screen and (min-width: 45em){

.discovery-photo{
	width:45%;
	padding-right:2em;
}

}

@media only screen and (min-width: 49em){

.unit-l-1{
	width:100%;
}

.unit-l-1-3{
	width:33.333%;
}

.unit-l-2-3{
	width:66.6667%;
}

article{
	padding:0 3em 0 3em;
}

p{
	font-size:1.2em;
}

.intro{
	width:85%;
}

.opportunity-box{
	padding:2em 3em 2em 3em;
}

.bucket{
	width:33%;
	margin:0;
	padding-top: 5em;
	float:left;
}

.unit-spacer{
	padding:.4em;
}

dl{
	padding:1em;
}

.searchbar{
	margin-left:75%;
}

}

@media only screen and (min-width: 55em){

/*Navigation for lager screens*/
#menu-icon {
	display: none;
}

nav{
	text-align:center;
	font-size:1.5em;
}

nav li {
	width:auto;
	padding:0;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul{
	display: block;
	width:auto;
}

nav ul {
	background: #F4B54D;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	margin:0 auto;
	width:34em;
	border-radius: 5px;  
	list-style: none;
	position: relative;
	display: block;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #F9D179;
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block; 
	padding: 25px 30px;
	color: #F9D179; 
	text-decoration: none;
}

nav ul ul {
	background: #F4B54D; 
	border-radius: 10px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

nav ul ul li {
	float: none; 
	border-top: 1px solid #66492c;
	position: relative;
}

nav ul ul li a {
	padding: 25px 30px;
	color: #fff;
}	

nav ul ul li a:hover {
	background: #F9D179;
}

nav ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
}
/*End of Navigation styling for larger screens*/

}

@media only screen and (min-width: 58em){

.unit-8{
	width:80%;
}

table{
	min-width:700px;
	max-width:701px;
}

tr{
	font-size:1em;
}

.details{
	width:80%;
}

}

@media only screen and (min-width: 76em){

.discovery-photo{
	width:40%;
}
}

@media only screen and (min-width: 80em){

.bucket-caption{
	display:block;
}

.unit-spacer{
	padding:.8em;
}

.searchbar{
	margin-left:85%;
}

}

@media only screen and (min-width: 95em){

.intro{
	width:60%;
}

article{
	padding: 0 10em;
}

}


@media only screen and (min-width: 96em){

.volunteer-photo{
	float:right;
}

}

@media only screen and (min-width: 104em){

dl{
	padding:2em;
}
}

@media only screen and (min-width: 125em){

h1{
	font-size:3.5em;
}

.intro{
	font-size: 1.7em;
}

}

@media only screen and (min-width: 140em){

.caption{
	font-size:2em;
}

.classification{
	font-size:1.5em;
}

dl{
	font-size:1.5em;
}

.bucket-caption{
	font-size:1.5em;
}

.opportunity-box{
	font-size:1.5em;
}
}