@-moz-viewport { width:device-width; scale:1; }
@-ms-viewport { width:device-width; scale:1; }
@-o-viewport { width:device-width; scale:1; }
@-webkit-viewport { width:device-width; scale:1; }
@viewport { width:device-width; scale:1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html{
	background-color:#FFF6C1;
}

nav{
	text-align:center;
}

nav ul,{
	font-size:1.5em;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}
	
nav ul {
	background: #F8D130;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 5px;  
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: ""; clear: both; display: block;
}
	
nav ul li {
	float: left;
}

nav ul li:hover {
	background: #E99803;
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block; 
	padding: 25px 40px;
	color: #66492E; 
	text-decoration: none;
}
	
nav ul ul {
	background: #E99803; 
	border-radius: 10px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}
	
nav ul ul li {
	float: none; 
	border-top: 1px solid #825E3C;
	position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	

nav ul ul li a:hover {
	background: #F3B557;
}

nav ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
}
	
/*End of Navigation styling*/

h1{
	font-size:2em;
	font-family:"ITC Stone Sans",helvetica,sans-serif;
	color:#66492E;
}

h3, h2{
	font-family:"ITC Stone Sans",helvetica,sans-serif;
	color:#66492E;
}
/*
.searchbar {
	float: right;
}
Note to self: floating the searchbar right makes it go into article by default and messes up margins & padding. Putting a clearfix on the nav hides the dropdown.
*/
article{
	padding:0 .5em 0 .5em;
	margin:0;
	overflow:hidden;
}

p, li{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1em;
	color:#66492E;
}

.intro{
	width:100%;
	font-size:1.2em;
}



.flex-img{
	display:block;
	width:100%;
}

.bucket{
	width:100%;
	margin:0;
	float:left;
}

.unit-spacer{
	padding:.3em;
}

.bucket-caption{
	font-size:1em;
	margin:0;
	color:#66492E;
}

/*Grid styling for small units*/
.unit-s-1{
	width:100%;
}

.unit-s-1-3{
	width:33.333%;
}

.unit-s-2-3{
	width:66.6667%;
}
/*End of grid styling for small units*/



.photo{
	display:inline-table;
	max-width:500px;
}

.photo-spacer{
	margin:1em 0 0 3em;
}

.photo-list{
	width:100%;
	height:100%;
}

.caption{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#66492E;
	background-color:#A4C777;
	margin:0;
	padding:.5em;
	height:60px;
	font-size:1.5em;
}

.caption:hover{
	cursor:pointer;
}

.info{
	display:none;
	list-style-type:none;
	margin:0;
	padding:2em 3em;
	background-color:#A4C777;
}

ul{
	list-style-type:none;
	margin:0;
}

details{
	background-color:#A4C777;
}

dt{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#66492E;
	font-size:1.1em;
	padding-top:.5em;
	font-weight:bold;
}

dl{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#66492E;
	font-size:1.1em;
	padding:0 2em 2em 2em;
}

/*End of styling for the show/hide information for animal profiles.*/

.volunteer-photo{
	max-width:400px;
	float:left;
	padding-bottom:1em;
}

.opportunity-box{
	background-color:#F8D180;
	padding:1em .5em 1em .5em;
	border-bottom:medium solid #5F4622;
	overflow:hidden;
}

.details{
	display:block;
	font-size:1.2em;
	line-height: 1.3em;
}

tr{
	display: table-row;
	background-color:#FEF0AB;
	font-size:.8em;
}


.button{
	cursor:pointer;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align:center;
	color:#66492E;
	padding:.5em;
	font-size:1.34em;
	background-color:#E99803;
	border-radius:20px;
	width:inherit;
	max-width:230px;
	margin-top:1em;
}

.button:hover{
	background-color:#F3B557;
}

/*End of styling for the Eco-volunteering info and photos*/


@media only screen and (min-width: 23em){

tbody{
	display: table-row-group;
	vertical-align: middle;
}

th{
	padding-right: 13px;
	padding-left:13px;
	min-width: 160px;
	text-align:left;
}

td{
	padding: 0 13px 0 13px;
}

table{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#66492E;
	max-width:500px;
}

}

@media only screen and (min-width: 37em){

.unit-m-1{
	width:100%;
}

.unit-m-1-3{
	width:33.333%;
}

.unit-m-2-3{
	width:66.6667%;
}
	
article{
	padding:0 2em 0 2em;
}

p{
	font-size:1.1em;
}

.bucket{
	width:75%;
}

tr{
	font-size:1em;
}

}


@media only screen and (min-width: 49em){

.unit-l-1{
	width:100%;
}

.unit-l-1-3{
	width:33.333%;
}

.unit-l-2-3{
	width:66.6667%;
}

article{
	padding:0 3em 0 3em;
}

p{
	font-size:1.2em;
}

.intro{
	width:85%;
}

.opportunity-box{
	padding:2em 3em 2em 3em;

}

.bucket{
	width:33%;
	margin:0;
	padding-top: 5em;
	float:left;
}

.unit-spacer{
	padding:.4em;
}
	
}

@media only screen and (min-width: 58em){

table{
	min-width:700px;
	max-width:701px;
}

tr{
	font-size:1em;
}

.details{
	width:80%;
}

}



@media only screen and (min-width: 80em){

.unit-spacer{
	padding:.8em;
}

article{
	padding: 0 10em;
}

}

@media only screen and (min-width: 95em){

.intro{
	width:60%;
}


}


@media only screen and (min-width: 96em){

.volunteer-photo{
	float:right;
}

}

@media only screen and (min-width: 125em){

h1{
	font-size:3.5em;
}

.intro{
	font-size: 1.7em;
}


}