<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="css/general.css" rel="stylesheet">
<title>Mammals of South America</title>
<meta name="description" content="Ever wonder where sloths live? We have too. You’ll find South American mammal profiles, facts, and photos to help you learn more about them.">
	<!--Facebook-->
	<meta property="og:type" content="article">
	<meta property="og:title" content="Mammals of South America">
	<meta property="og:url" content="http://mammalsofsouthamerica.html">
	<!--Image size: min 200x200, they prefer 1500x1500 -->
	<meta property="og:image" content="http://mammalsofsouthamerica.html/img/thing.jpg">
	<!--These ones are optional for FB but you might as well put them in there, says Thomas -->
	<meta property="og:site_name" content="Mammals of South America">
	<meta property="og:description" content="Ever wonder where sloths live? We have too. You’ll find South American mammal profiles, facts, and photos to help you learn more about them.">
	
	<!--Twitter-->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="Mammals of South America">
	<meta property="twitter:url" content="http://mammalsofsouthamerica/felines.html">
	<!--Image size: min 120x120 -->
	<meta property="twitter:image" content="http://mammalsofsouthamerica.html/img/thing.jpg">
	<!--These ones are optional for FB but you might as well put them in there, says Thomas -->
	<meta property="twitter:description" content="Ever wonder where sloths live? We have too. You’ll find South American mammal profiles, facts, and photos to help you learn more about them.">

</head>

<body>

	<header>
		<nav>
			<ul>
				<li><a href="index.html" rel="home">Home</a></li>
				<li><a href="mammals.html">Mammals</a>
					<ul>
						<li><a href="small-mammals.html">Small Mammals</a>
							<ul>
								<li><a href="rodents.html">Rodents</a></li>
								<li><a href="bats.html">Bats</a></li>
								<li><a href="other.html">Other</a></li>
							</ul>
						</li>
						<li><a href="felines.html">Felines</a></li>
						<li><a href="canines.html">Canines</a></li>
						<li><a href="monkeys.html">Monkeys</a></li>
						<li><a href="camels.html">Camels</a></li>
						<li><a href="water-dwellers.html">Water Dwellers</a></li>
						<li><a href="pigs-boars.html">Pigs & Boars</a></li>
						<li><a href="bears.html">Bears</a></li>
						<li><a href="endangered.html">ENDANGERED</a></li>
					</ul>
				</li>
				<li><a href="eco-volunteering.html">Eco-Volounteering</a></li>
				<li><a href="discoveries.html">Recent Discoveries</a></li>
			</ul>
		</nav>
		
		<div class="searchbar"> 
			<label>Search</label>
			<input type="search" placeholder="Search mammals" title="searchbar">
		</div>

	</header>
	
{{content}}
	
</body>
</html>
